table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    background-color: #e0f7fa;
    cursor: pointer;
}

td.hit {
    background-color: red !important;
}

td.miss {
    background-color: gray !important;
}

td.clicked {
    pointer-events: none;
}

h1 {
    text-align: center;
}