{% extends "base.html" %}
{% block title %} Battleship {% endblock %}
{% block head %} 
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Gra w statki</h1>
    <p>Logowanie</p>
    <form action="/login" method="post">
        <label>Login</label>
        <input name="login" type="text" required>
        <label>Hasło</label>
        <input name="password" type="password" required>
        <input type="submit" value="Zaloguj się">
    </form>
        <a href="{{url_for('register_get')}}">Nie masz konta? Zarejestruj się.</a>
{% endblock %}