{% extends "base.html" %}
{% block title %} Battleship {% endblock %}
{% block head %} 
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Battleship Game</h1>
    <p>Rejestracja</p>
    <form action="/register" method="post">
        <label>Login</label>
        <input name="login" type="text" required>
        <label>Hasło</label>
        <input name="password" type="password" required>
        <label>Email</label>
        <input name="email" type="email" required>
        <input type="submit", value="Zarejestruj się">
    </form>
        <a href="{{url_for('login')}}">Masz już konto? Zaloguj się.</a>
{% endblock %}